<!-- <div class="map" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)" ></div> -->
<ion-card class="card">
  <ion-card-header [ngStyle]="{'background-image': 'url(' + data.picture + ')', 'background-size': 'cover'}">
    <button ion-button (click)="closeModal()" class="buttonCloseModal" color="danger" fill="clear">
      <ion-icon name="arrow-back" class="arrowIcon"></ion-icon>
    </button>
  </ion-card-header>

  <ion-card-title class="cardTitle">
    <!-- <img class="imgsize" src="{{ data.picture}}"> -->
    <div class="titreService">{{ data.titre}}</div>
  </ion-card-title>

  <ion-card-content class="dateHeure">
    <div class="date">{{ data.date | date: "dd MMM yyyy" }}</div>
    <div class="heure">{{data.date | date: "HH : mm" }}</div>
  </ion-card-content>
  <!-- <div class="typedescflex"> -->
  <ion-card-content class="typedesc">
    <h4 class="typo">Type : {{ data.type }} </h4>
    <div class="description">{{ data.description }}</div>
  </ion-card-content>
  <!-- </div> -->
  <!-- <h4 class="description">Description :</h4> -->

  <ion-card-content><app-mini-map [coords]="this.data.location"></app-mini-map></ion-card-content>
  <ion-card-content *ngIf="isWaiting && !isOwner">
    <div>Ce rendez-vous est en attente de confirmation par le propriétaire</div>
  </ion-card-content>
  <ion-card-content *ngIf="isOwner">
    <div class="proprioMess">Vous êtes le proprietaire</div>
    <form #form="ngForm">
      <!-- <ion-button (click)="deleteService(data._id)" color="danger">Supprimer</ion-button> -->
      <ion-button type="submit" (click)="onSubmit(data._id)" color="danger">Supprimer</ion-button>
    </form>
  </ion-card-content>
  <ion-card-content *ngIf="!isOwner && !isWaiting">
    <ion-button (click)="takeRdv(data)">Prendre rendez-vous</ion-button>
  </ion-card-content>

</ion-card>