.map {
    height: 100%;
    z-index: 0;
  }

  ion-card {
    position: absolute;
    bottom: 10px; /* adjust as necessary */
    width: 90%;
    left: 10px; /* adjust as necessary */
    z-index: 1; /* set to a higher value than the map */
  }