
<div class="map"  leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)" [leafletLayers]="mapMarkers"></div>
<ion-card *ngIf="selectedService" (click)="afficheService(selectedService)">
    <ion-card-header>
      <ion-card-title>
        <div class="servicelien"></div>
        <img src="{{ selectedService.picture}}" alt="" maxwidth="" maxheight="150px">
        {{ selectedService.titre }}
      </ion-card-title>
      <ion-card-subtitle>{{ selectedService.date | date:'dd/MM/yyyy'  }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ selectedService.type }}
    </ion-card-content>
  </ion-card>

