<ion-header>
  <ion-toolbar>
    <!-- <ion-title>JobApp</ion-title> -->
    <img src="/assets/jobapp.png" width="40%">
    <ion-button id="notifButton" slot="end">
      <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Mes RdVs:</h3>
  <!-- NOTE: marche pas si pas nommé default -->
  <ion-segment [(ngModel)]="selectTabs" color="secondary" value="default"  (ionSelect)="refreshRdvs()">
    <ion-segment-button value="default">
      <ion-label>A venir</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enAttente">
      <ion-label>à confirmer</ion-label>
    </ion-segment-button>
  </ion-segment>


  <section *ngIf="selectTabs === 'enAttente'">
    <ion-list>
      <div class="item" *ngFor="let rdv of rdvs; let index" (click)="afficheRdvCall(rdv.relatedService)">
        <ion-item class="rdv" *ngIf="rdv.provider._id === userID && !rdv.isAccepted">
          <div class="rdvImage">
            <img src={{rdv.relatedService.picture}} height="100%" width="">
          </div>
          <div class="infosRdv">
            <div class="rdvContainer">
              <div  class="rdvProvider">rendez vous avec {{ rdv.reciever.name }}</div>
              <div class="selectButton">
                <ion-button color="success" (click)="confirmRdv(rdv._id); $event.stopPropagation()">confirmer</ion-button>
                <ion-button color="danger" (click)="refuteRdv(rdv._id); $event.stopPropagation()">refuser</ion-button>
              </div>
              <div class="serviceInfo">concernant: {{ rdv.relatedService.titre }}</div>
              <!-- <p class="serviceDate">{{ service.relatedService.date | date: "dd MMM yyyy" }}</p> -->
            </div>
          </div>
        </ion-item>
      </div>

    </ion-list>
  </section>




  <section *ngIf="selectTabs === 'default'">
    <ion-list>
      <div class="item" *ngFor="let rdv of rdvs; let index" (click)="afficheRdvCall(rdv.relatedService)">
        <ion-item class="rdv" *ngIf="rdv.reciever._id === userID ">
          <div class="rdvImage">
            <img src={{rdv.relatedService.picture}} height="100%" width="">
          </div>
          <div class="infosRdv">
            <div class="rdvContainer">
              <!-- <div *ngIf="rdv.provider._id === userID" class="rdvProvider">rendez vous avec {{ rdv.reciever.name }}</div> -->
              <div *ngIf="rdv.reciever._id === userID" class="rdvProvider">rendez vous avec {{ rdv.provider.name }}</div>
              <div class="alarmIcon" *ngIf="!rdv.isAccepted">
                <ion-icon class="alarm" name="alarm"></ion-icon>
                <span class="alarmMessage">en attente</span>
              </div>
              <div class="successIcon" *ngIf="rdv.isAccepted">
                <ion-icon class="checkmark" name="checkmark"></ion-icon>
                <span class="successMessage">accepté</span>
              </div>
              <div class="serviceInfo">concernant: {{ rdv.relatedService.titre }}</div>
              <!-- <p class="serviceDate">{{ service.relatedService.date | date: "dd MMM yyyy" }}</p> -->
            </div>
          </div>
        </ion-item>
        <ion-item class="rdv" *ngIf="rdv.provider._id === userID && rdv.isAccepted ">
          <div class="rdvImage">
            <img src={{rdv.relatedService.picture}} height="100%" width="">
          </div>
          <div class="infosRdv">
            <div class="rdvContainer">
              <!-- <div *ngIf="rdv.provider._id === userID" class="rdvProvider">rendez vous avec {{ rdv.reciever.name }}</div> -->
              <div  class="rdvProvider">rendez vous avec {{ rdv.reciever.name }}</div>
              <div class="alarmIcon" *ngIf="!rdv.isAccepted">
                <ion-icon class="alarm" name="alarm"></ion-icon>
                <span class="alarmMessage">en attente</span>
              </div>
              <div class="successIcon" *ngIf="rdv.isAccepted">
                <ion-icon class="checkmark" name="checkmark"></ion-icon>
                <span class="successMessage">accepté</span>
              </div>
              <div class="serviceInfo">concernant: {{ rdv.relatedService.titre }}</div>
              <!-- <p class="serviceDate">{{ service.relatedService.date | date: "dd MMM yyyy" }}</p> -->
            </div>
          </div>
        </ion-item>
      </div>

    </ion-list>
  </section>

</ion-content>